body {
  font-family: sans-serif;
  background-color: #e6f2ff;
  color: #003366;
  padding: 20px;
}
#quiz-container {
  margin-top: 20px;
}
.question {
  border: 2px solid transparent;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #ffffff;
}
.correct {
  border-color: green;
}
.incorrect {
  border-color: red;
}
button {
  margin-top: 10px;
  margin-right: 5px;
}